openapi: 3.0.0
info:
  title: Kane Backend API
  version: 1.0.0
  description: Complete API documentation for Kane Backend application
  contact:
    name: API Support
    url: https://oliversgroup.co.uk
  license:
    name: MIT

servers:
  - url: https://api.oliversgroup.co.uk
    description: Production server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Users
    description: User management endpoints
  - name: Restaurants
    description: Restaurant management endpoints
  - name: Achievements
    description: Achievements and stamps management
  - name: Coupons
    description: Coupons management
  - name: Offers
    description: Offers and offers history management
  - name: Points
    description: Points history management
  - name: Notifications
    description: Notifications management
  - name: Settings
    description: Application settings
  - name: Admin
    description: Admin dashboard and management
  - name: EPOS
    description: EPOS integration endpoints

paths:
  # ==================== AUTHENTICATION ROUTES ====================
  /api/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user with credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid credentials
        '500':
          description: Server error

  /api/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logout user and invalidate session
      responses:
        '200':
          description: Logout successful

  /api/signup/verify-otp:
    post:
      tags:
        - Authentication
      summary: Verify OTP for signup
      description: Verify OTP code sent during signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
      responses:
        '200':
          description: OTP verified successfully
        '400':
          description: Invalid OTP

  /api/verify-otp:
    post:
      tags:
        - Authentication
      summary: Verify OTP for password reset
      description: Verify OTP code sent for password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
      responses:
        '200':
          description: OTP verified successfully
        '400':
          description: Invalid OTP

  /api/forgot-password:
    post:
      tags:
        - Authentication
      summary: Request password reset
      description: Send OTP to email for password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent to email
        '404':
          description: User not found

  /api/new-password-otp-verified:
    patch:
      tags:
        - Authentication
      summary: Set new password after OTP verification
      description: Update password after OTP is verified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - newPassword
              properties:
                email:
                  type: string
                  format: email
                newPassword:
                  type: string
      responses:
        '200':
          description: Password updated successfully
        '400':
          description: Invalid request

  /api/verify-referral-code:
    post:
      tags:
        - Authentication
      summary: Verify referral code
      description: Verify if a referral code is valid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - referralCode
              properties:
                referralCode:
                  type: string
      responses:
        '200':
          description: Referral code verified
        '400':
          description: Invalid referral code

  # ==================== USER ROUTES ====================
  /api/user/current-user:
    get:
      tags:
        - Users
      summary: Get current user
      description: Retrieve currently authenticated user details
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

  /api/user/delete-account/{id}:
    delete:
      tags:
        - Users
      summary: Delete user account
      description: Delete a user account by ID
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Account deleted successfully
        '404':
          description: User not found

  /api/user/update-profile/{id}:
    patch:
      tags:
        - Users
      summary: Update user profile
      description: Update user profile information
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                email:
                  type: string
                  format: email
                phoneNumber:
                  type: string
                gender:
                  type: string
                profilePic:
                  type: string
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found

  /api/user/change-password:
    put:
      tags:
        - Users
      summary: Change password
      description: Change user password
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - oldPassword
                - newPassword
              properties:
                oldPassword:
                  type: string
                newPassword:
                  type: string
      responses:
        '200':
          description: Password changed successfully
        '400':
          description: Invalid old password

  /api/user/upload-image:
    post:
      tags:
        - Users
      summary: Upload user profile image
      description: Upload and update user profile image
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Image uploaded successfully

  /api/user/home:
    get:
      tags:
        - Users
      summary: Get user home page data
      description: Retrieve user dashboard/home page data
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Home page data

  /api/user/invite-friends:
    get:
      tags:
        - Users
      summary: Get invite code and referral details
      description: Get user's invite code and referred users details
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Invite code and referral details

  /api/user/top-leaders:
    get:
      tags:
        - Users
      summary: Get top leaders
      description: Retrieve list of top leaders by points
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Top leaders list

  # ==================== RESTAURANT ROUTES ====================
  /api/user/restaurants:
    get:
      tags:
        - Restaurants
      summary: Get all restaurants for user
      description: Retrieve list of restaurants available for the user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of restaurants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Restaurant'

  /api/user/restaurant-offers:
    get:
      tags:
        - Offers
      summary: Get all restaurant offers for user
      description: Retrieve list of all restaurant offers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of restaurant offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestaurantOffer'

  /api/user/restaurant-offers/{id}:
    get:
      tags:
        - Offers
      summary: Get restaurant offer by ID
      description: Retrieve specific restaurant offer details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restaurant offer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantOffer'
        '404':
          description: Offer not found

  /api/admin/restaurants:
    get:
      tags:
        - Restaurants
      summary: Get all restaurants (Admin)
      description: Retrieve all restaurants for admin
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of all restaurants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Restaurant'

    post:
      tags:
        - Restaurants
      summary: Create restaurant (Admin)
      description: Create a new restaurant
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantInput'
      responses:
        '201':
          description: Restaurant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'

  /api/admin/restaurants/{id}:
    get:
      tags:
        - Restaurants
      summary: Get restaurant by ID (Admin)
      description: Retrieve specific restaurant details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Restaurant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        '404':
          description: Restaurant not found

    put:
      tags:
        - Restaurants
      summary: Update restaurant (Admin)
      description: Update restaurant details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantInput'
      responses:
        '200':
          description: Restaurant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'

    delete:
      tags:
        - Restaurants
      summary: Delete restaurant (Admin)
      description: Delete a restaurant
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restaurant deleted successfully

  /api/admin/restaurants-offers:
    get:
      tags:
        - Offers
      summary: Get all restaurant offers (Admin)
      description: Retrieve all restaurant offers for admin
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of all restaurant offers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestaurantOffer'

    post:
      tags:
        - Offers
      summary: Create restaurant offer (Admin)
      description: Create a new restaurant offer
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantOfferInput'
      responses:
        '201':
          description: Restaurant offer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantOffer'

  /api/admin/restaurants-offers/{id}:
    get:
      tags:
        - Offers
      summary: Get restaurant offer by ID (Admin)
      description: Retrieve specific restaurant offer details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Restaurant offer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantOffer'

    put:
      tags:
        - Offers
      summary: Update restaurant offer (Admin)
      description: Update restaurant offer details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantOfferInput'
      responses:
        '200':
          description: Restaurant offer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantOffer'

    delete:
      tags:
        - Offers
      summary: Delete restaurant offer (Admin)
      description: Delete a restaurant offer
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Restaurant offer deleted successfully

  # ==================== ACHIEVEMENTS & STAMPS ROUTES ====================
  /api/user/achievements/restaurants:
    get:
      tags:
        - Achievements
      summary: Get all restaurant achievements
      description: Retrieve all achievements for restaurants
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of achievements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'

  /api/user/achievements/restaurants/{id}:
    get:
      tags:
        - Achievements
      summary: Get achievements by restaurant
      description: Retrieve achievements for a specific restaurant
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of achievements for restaurant
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'

  /api/user/stamps/restaurants/{id}:
    get:
      tags:
        - Achievements
      summary: Get user stamps for restaurant
      description: Retrieve user's stamps count for a specific restaurant
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User stamps information

  /api/user/collect-stamps:
    post:
      tags:
        - Achievements
      summary: Collect stamps achievement
      description: Collect stamps as achievement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                restaurantId:
                  type: string
                stamps:
                  type: number
      responses:
        '200':
          description: Stamps collected successfully

  /api/user/visit-history:
    get:
      tags:
        - Users
      summary: Get user visit history
      description: Retrieve user's visit history
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Visit history

  /api/admin/achievements:
    get:
      tags:
        - Achievements
      summary: Get all achievements (Admin)
      description: Retrieve all achievements for admin
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of all achievements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'

    post:
      tags:
        - Achievements
      summary: Create achievement (Admin)
      description: Create a new achievement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementInput'
      responses:
        '201':
          description: Achievement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'

  /api/admin/achievements/{id}:
    get:
      tags:
        - Achievements
      summary: Get achievement by ID (Admin)
      description: Retrieve specific achievement details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Achievement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'

    put:
      tags:
        - Achievements
      summary: Update achievement (Admin)
      description: Update achievement details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementInput'
      responses:
        '200':
          description: Achievement updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'

    delete:
      tags:
        - Achievements
      summary: Delete achievement (Admin)
      description: Delete an achievement
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Achievement deleted successfully

  # ==================== COUPONS ROUTES ====================
  /api/user/coupons:
    get:
      tags:
        - Coupons
      summary: Get user earned coupons
      description: Retrieve coupons earned by the user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of user coupons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'

  /api/user/coupons-scratch/{id}:
    put:
      tags:
        - Coupons
      summary: Update coupon status (scratch)
      description: Update coupon scratch/redeem status
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Coupon status updated

  /api/admin/coupons:
    get:
      tags:
        - Coupons
      summary: Get all coupons (Admin)
      description: Retrieve all coupons
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of all coupons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'

    post:
      tags:
        - Coupons
      summary: Create coupon (Admin)
      description: Create a new coupon
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponInput'
      responses:
        '201':
          description: Coupon created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'

  /api/admin/coupons/{id}:
    get:
      tags:
        - Coupons
      summary: Get coupon by ID (Admin)
      description: Retrieve specific coupon details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Coupon details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'

    put:
      tags:
        - Coupons
      summary: Update coupon (Admin)
      description: Update coupon details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponInput'
      responses:
        '200':
          description: Coupon updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'

    delete:
      tags:
        - Coupons
      summary: Delete coupon (Admin)
      description: Delete a coupon
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Coupon deleted successfully

  # ==================== OFFERS HISTORY ROUTES ====================
  /api/user/offer-history:
    post:
      tags:
        - Offers
      summary: Create offer history
      description: Create a new offer history record
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offerId:
                  type: string
                status:
                  type: string
      responses:
        '201':
          description: Offer history created successfully

    get:
      tags:
        - Offers
      summary: Get user offer history
      description: Retrieve user's offer history
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User offer history

  /api/admin/offer-history/{id}:
    get:
      tags:
        - Offers
      summary: Get offer history by user ID (Admin)
      description: Retrieve specific user's offer history
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Offer history details

  /api/admin/offer-history/apply:
    post:
      tags:
        - Offers
      summary: Apply user offer (Admin)
      description: Apply an offer to a user
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                offerId:
                  type: string
      responses:
        '200':
          description: Offer applied successfully

  # ==================== COUPON HISTORY ROUTES ====================
  /api/user/coupon-history:
    post:
      tags:
        - Coupons
      summary: Create coupon history
      description: Create a new coupon history record
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                couponId:
                  type: string
                status:
                  type: string
      responses:
        '201':
          description: Coupon history created successfully

    get:
      tags:
        - Coupons
      summary: Get user redeemed coupon history
      description: Retrieve user's redeemed coupons
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User coupon history

  /api/admin/coupon-history/{id}:
    get:
      tags:
        - Coupons
      summary: Get coupon history by user ID (Admin)
      description: Retrieve specific user's coupon history
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Coupon history details

    put:
      tags:
        - Coupons
      summary: Update coupon history (Admin)
      description: Update coupon history record
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Coupon history updated successfully

  /api/admin/coupon-history/apply:
    post:
      tags:
        - Coupons
      summary: Apply coupon to user (Admin)
      description: Apply a coupon to a specific user
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                couponId:
                  type: string
      responses:
        '200':
          description: Coupon applied successfully

  # ==================== POINTS HISTORY ROUTES ====================
  /api/user/points-history:
    post:
      tags:
        - Points
      summary: Create points history
      description: Create a new points history record
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                points:
                  type: number
                description:
                  type: string
      responses:
        '201':
          description: Points history created successfully

    get:
      tags:
        - Points
      summary: Get user points history
      description: Retrieve user's points history
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User points history

  # ==================== NOTIFICATIONS ROUTES ====================
  /api/notifications:
    get:
      tags:
        - Notifications
      summary: Get all user notifications
      description: Retrieve all notifications for authenticated user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'

    post:
      tags:
        - Notifications
      summary: Send notification to user
      description: Send a notification to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - title
                - message
              properties:
                userId:
                  type: string
                title:
                  type: string
                message:
                  type: string
      responses:
        '200':
          description: Notification sent successfully

  /api/user/notifications:
    put:
      tags:
        - Notifications
      summary: Mark all notifications as read
      description: Mark all user notifications as read
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All notifications marked as read

  /api/user/notifications/mark-read/{id}:
    put:
      tags:
        - Notifications
      summary: Mark notification as read
      description: Mark specific notification as read
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notification marked as read

  # ==================== USER HISTORY ROUTES ====================
  /api/user/user-history:
    get:
      tags:
        - Users
      summary: Get user history
      description: Retrieve authenticated user's history
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User history data

  /api/admin/users:
    get:
      tags:
        - Users
      summary: Get all users (Admin)
      description: Retrieve all users for admin
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of all users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /api/admin/users/{id}:
    get:
      tags:
        - Users
      summary: Get user by ID (Admin)
      description: Retrieve specific user details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/admin/users/{id}/history:
    get:
      tags:
        - Users
      summary: Get user history (Admin)
      description: Retrieve specific user's complete history
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: User history details

  /api/admin/blocked-users:
    get:
      tags:
        - Users
      summary: Get all blocked users (Admin)
      description: Retrieve list of blocked users
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: List of blocked users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /api/admin/block-user:
    put:
      tags:
        - Users
      summary: Block/Unblock user (Admin)
      description: Block or unblock a user
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - isBlocked
              properties:
                userId:
                  type: string
                isBlocked:
                  type: boolean
      responses:
        '200':
          description: User blocked/unblocked successfully

  # ==================== SETTINGS ROUTES ====================
  /api/user/settings:
    get:
      tags:
        - Settings
      summary: Get application settings
      description: Retrieve application settings
      responses:
        '200':
          description: Application settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

  /api/admin/settings:
    get:
      tags:
        - Settings
      summary: Get settings (Admin)
      description: Retrieve application settings
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Application settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

    post:
      tags:
        - Settings
      summary: Create/Update settings (Admin)
      description: Create or update application settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsInput'
      responses:
        '201':
          description: Settings created/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'

  # ==================== ADMIN ROUTES ====================
  /api/admin/dashboard:
    get:
      tags:
        - Admin
      summary: Get admin dashboard data
      description: Retrieve dashboard statistics and data for admin
      security:
        - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Dashboard data including statistics

  /api/admin/user-barcode/{id}:
    get:
      tags:
        - Admin
      summary: Get user by barcode
      description: Retrieve user by barcode ID
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: User details

  # ==================== ACHIEVEMENT HISTORY ROUTES ====================
  /api/admin/achievement-history/{id}:
    get:
      tags:
        - Achievements
      summary: Get achievement history by user ID (Admin)
      description: Retrieve specific user's achievement history
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/AdminRoleHeader'
      responses:
        '200':
          description: Achievement history details

  # ==================== EPOS ROUTES ====================
  /api/epos/Customer:
    get:
      tags:
        - EPOS
      summary: Get all customers
      description: Retrieve list of all customers from EPOS
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EposCustomer'

    post:
      tags:
        - EPOS
      summary: Create customer
      description: Create a new customer in EPOS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EposCustomerInput'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EposCustomer'

    put:
      tags:
        - EPOS
      summary: Update customer
      description: Update customer information in EPOS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EposCustomerInput'
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EposCustomer'

    delete:
      tags:
        - EPOS
      summary: Delete customer
      description: Delete a customer from EPOS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Customer deleted successfully

  /api/epos/Customer/{id}:
    get:
      tags:
        - EPOS
      summary: Get customer by ID
      description: Retrieve specific customer details from EPOS
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EposCustomer'
        '404':
          description: Customer not found

components:

  parameters:
    AdminRoleHeader:
      name: role
      in: header
      required: true
      description: Must be admin to access admin APIs
      schema:
        type: string
        enum: [admin]

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        _id:
          type: string
        identifier:
          type: string
        role:
          type: string
          enum: [user, admin]
        fullName:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
        countryCode:
          type: string
        gender:
          type: string
        profilePic:
          type: string
        fcmToken:
          type: string
        referralCode:
          type: string
        referredBy:
          type: string
        points:
          type: number
        isBlocked:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            token:
              type: string
            user:
              $ref: '#/components/schemas/User'

    Restaurant:
      type: object
      properties:
        _id:
          type: string
        identifier:
          type: string
        restaurantName:
          type: string
        image:
          type: string
        eposLocationId:
          type: number
        isDeleted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RestaurantInput:
      type: object
      required:
        - restaurantName
      properties:
        restaurantName:
          type: string
        image:
          type: string
        eposLocationId:
          type: number

    RestaurantOffer:
      type: object
      properties:
        _id:
          type: string
        offerName:
          type: string
        description:
          type: string
        discountValue:
          type: number
        discountType:
          type: string
          enum: [percentage, fixed]
        restaurantId:
          type: string
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RestaurantOfferInput:
      type: object
      required:
        - offerName
        - restaurantId
      properties:
        offerName:
          type: string
        description:
          type: string
        discountValue:
          type: number
        discountType:
          type: string
        restaurantId:
          type: string
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time

    Achievement:
      type: object
      properties:
        _id:
          type: string
        identifier:
          type: string
        achievementName:
          type: string
        description:
          type: string
        stamps:
          type: number
        rewardValue:
          type: number
        assignRestaurant:
          type: string
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AchievementInput:
      type: object
      required:
        - achievementName
        - stamps
        - assignRestaurant
      properties:
        achievementName:
          type: string
        description:
          type: string
        stamps:
          type: number
        rewardValue:
          type: number
        assignRestaurant:
          type: string
        isActive:
          type: boolean

    Coupon:
      type: object
      properties:
        _id:
          type: string
        identifier:
          type: string
        couponName:
          type: string
        description:
          type: string
        discountValue:
          type: number
        discountType:
          type: string
        requiredPoints:
          type: number
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CouponInput:
      type: object
      required:
        - couponName
        - discountValue
        - requiredPoints
      properties:
        couponName:
          type: string
        description:
          type: string
        discountValue:
          type: number
        discountType:
          type: string
        requiredPoints:
          type: number
        isActive:
          type: boolean

    Notification:
      type: object
      properties:
        _id:
          type: string
        userId:
          type: string
        title:
          type: string
        message:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Settings:
      type: object
      properties:
        _id:
          type: string
        key:
          type: string
        value:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SettingsInput:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
        value:
          type: string
        description:
          type: string

    EposCustomer:
      type: object
      properties:
        _id:
          type: string
        customerId:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EposCustomerInput:
      type: object
      required:
        - customerId
        - name
      properties:
        customerId:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string

  responses:
    UnauthorizedError:
      description: Authentication information is missing or invalid
    NotFoundError:
      description: The requested resource was not found
    ServerError:
      description: Internal server error
